*

!.gitignore
!dotfile-init.sh
!roll-go-toolchain.sh

# zsh
!.zshrc
!.zprofile
!.oh-my-zsh/
!.p10k.zsh
!powerlevel10k/

# bash
!.bashrc
!.profile
!.xprofile
!.bash_profile

# usql
!.usqlrc

#.config
!.config/

# zed
!.config/zed/

# kitty
!.config/kitty/

# secret
.secret
